<ion-view view-title="Dogtin">
  <ion-content class="padding">
      <p>Oi {{token}}</p>
        <td-cards>
            <td-card id="td-card" ng-repeat="card in cards" on-destroy="cardDestroyed($index)"
            on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)"
            on-partial-swipe="cardPartialSwipe(amt)">
                <div class="title">
                    {{card.title}}
                </div>
                <div class="image">
                    <div class="no-text overlayBox"><div class="noBox boxed"><i class="icon ion-heart-broken"></i></div></div>
                    <img ng-src="{{card.image}}">
                    <div class="yes-text overlayBox"><div class="yesBox boxed" id="centerMe"><i class="icon ion-heart"></i></div></div>
                </div>
            </td-card>
        </td-cards>

  </ion-content>
</ion-view>
