
<div class="tabs-striped tabs-color-assertive">

<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <ion-tab title="Início" icon-off="icon ion-home" icon-on="icon ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Favoritos" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Doar" icon-off="icon ion-plus" icon-on="icon ion-plus" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Sair" icon-off="icon ion-flash-off" href="#/logout">
    <ion-nav-view name="app-logout"></ion-nav-view>
  </ion-tab>



</ion-tabs>
    </div>
